.boiler-img{
    height: 150px;
    width: 100px;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    margin: .19em;
    /*background: #007DB6;*/
    background: #004b87;
    border-radius: 1.2em;
    animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 */
.loading span:nth-of-type(2) {
    background: #0c5799;
    animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    background: #1c6eb7;
    animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    background: #3081c9;
    animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
    background: #529fe3;
    animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    background: #73b8f5;
    animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
    background: #94c9f7;
    animation-delay: 1.2s;
}

/*
 * Animation keyframes
 */
@keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
