{% extends 'base.html' %}

{% block title %} 
    Data
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Enter Valid Boiler ID, Start Time, and End Time to Receive Data</h1>
    </div>
    <div class="row">
        <h2 id="error"></h2>
    </div>
    <div class="row">
        <form id="data_form">
            <label for="boiler_id_input" class="form-lable">Enter Specific Boiler ID</label>
            <input type="text" id="boiler_id_input" name="boiler_id_input" class="form-control">
            <label for="start_time_input" class="form-lable">Enter Start Time</label>
            <input type="datetime-local" id="start_time_input" name="start_time_input" class="form-control">
            <label for="end_time_input" class="form-lable">Enter End Time</label>
            <input type="datetime-local" id="end_time_input" name="end_time_input" class="form-control">

            <!-- radio buttons -->
            <p>Select Time Interval</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intervalRadio" id="allRadio" value="0.0001">
                <label class="form-check-label" for="allRadio">All (roughly 5 seconds)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intervalRadio" id="1mRadio" value="1">
                <label class="form-check-label" for="1mRadio">1 Minute</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intervalRadio" id="15mRadio" value="15">
                <label class="form-check-label" for="15mRadio">15 Minutes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intervalRadio" id="30mRadio" value="30">
                <label class="form-check-label" for="30mRadio">30 Minutes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intervalRadio" id="1hRadio" value="60">
                <label class="form-check-label" for="1hRadio">1 Hour</label>
            </div>

            <input class="btn btn-primary my-3" type="submit" value="Submit">
        </form>
    </div>
    <div id="data" class="row"></div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/data.js') }}" defer></script>
{% endblock %}