{% extends 'base.html' %}

{% block title %} 
    NURO Analysis | Profile
{% endblock %}

{% block content %}
    <div class="row">
        <h2 id="error"></h2>
    </div>
    {% if authenticated %}
        {% if firstName and lastName and email and title %}
            <div class="row my-3">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/default.png') }}" class="card-img-top" alt="Default Profile Picture" loading="lazy" decoding="async">
                    <div class="card-body text-center">
                        <h3 class="card-title bold">{{firstName}} {{lastName}}</h3>
                        <p class="card-text">{{title}}</p>
                        <p class="card-text"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{email}}</p>
                        <button id="logout_button" class="btn btn-primary" type="button" onClick="showConfirm()" aria-label="Logout Button">Logout</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}